# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
env/
venv/

# Distribution / packaging
.build/
dist/
*.egg-info/

# IDEs
.vscode/
.idea/

# Environment files
.env

# OS files
.DS_Store
Thumbs.db

# Python test cache
.pytest_cache/
